.player__controls {
  /* visibility: hidden; */
  width: 100%;
  height: fit-content;
  display: grid;
  grid-template-areas:
    "timer timer timer"
    "rwd play fwd";
}

.play {
  grid-area: play;
}

.rwd {
  grid-area: rwd;
}

.fwd {
  grid-area: fwd;
}