#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.player {
  max-width: 350px;
}

.player__imagen {
  width: 100%;
  object-fit: contain;
  object-position: center;
}

.player__controls {
  visibility: hidden;
  width: 100%;
  display: flex;
  justify-content: center;
}

.timer {
  flex: 5;
  position: relative;
}

.timer div {
  position: absolute;
  border-radius: 4px;
  background-color: rgb(240, 240, 240);
  left: 0;
  top: 0;
  width: 0%;
  height: 8px;
  z-index: 2;
}