.player__controls {
  /* visibility: hidden; */
  width: 100%;
  height: fit-content;
  display: grid;
  grid-template-areas:
    "timer timer timer"
    "rwd play fwd";
}

.timer {
  grid-area: timer;
}

.timer div {
  border-radius: 4px;
  background-color: rgb(240, 240, 240);
  width: 75%;
  height: 8px;
  z-index: 2;
}

.timer span {}

.play {
  grid-area: play;
}

.rwd {
  grid-area: rwd;
}

.fwd {
  grid-area: fwd;
}